<template>
	<div v-if="authenticated && user">
		<router-view></router-view>
	</div>
	<div v-else>
		<login></login>
	</div>
</template>

<script>
export default {
  data() {
    return {
      authenticated: auth.check(),
      user: auth.user
    };
  },

  mounted() {
    Event.$on("userLoggedIn", () => {
      this.authenticated = true;
      this.user = auth.user;
    });
  }
};
</script>