<template>
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Cursos</b>SADOP</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Autenticarse para iniciar la sesión</p>
            <!-- <form> -->
                <div class="form-group has-feedback">
                    <input type="email" name="username" class="form-control" value=""
                           placeholder="Email" v-model="username">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <!-- <span class="help-block">
                        <strong>El error</strong>
                    </span> -->
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control"
                           placeholder="Contraseña" v-model="password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <!-- <span class="help-block">
                        <strong>El error</strong>
                    </span> -->
                </div>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button @click="login"
                                class="btn btn-primary btn-block btn-flat">Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            <!-- </form> -->
            <div class="auth-links">
                <a href="#" class="text-center">Olvidé mi contraseña</a>
            </div>
        </div>
        <!-- /.login-box-body -->
    </div><!-- /.login-box -->
</template>

<script>
export default {
  data() {
    return {
      username: "",
      password: ""
    };
  },

  methods: {
    login() {
      let data = {
        username: this.username,
        password: this.password
      };

      axios
        .post("/api/login", data)
        .then(({ data }) => {
          auth.login(data.access_token, data.refresh_token, data.user);

          this.$router.push("/dashboard");
        })
        .catch(({ response }) => {
          alert(response.data.message);
        });
    }
  }
};
</script>